---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="well article">
  <h2><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h2>
  <span class="post-date">
            {% assign date_format = site.date_format.title %}
            {{ page.date | date: date_format }}
        </span>
  <hr style="border-top:1px solid #28323C;"/>
  <div class="post-content">
    {{ content }}
  </div>
</div>
<div class="pagination">
  {% if page.previous %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Vorheriger</a>
  {% endif %}
  {% if page.next %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Nächster</a>
  {% endif %}
</div>